<div *ngIf="!!decks" class="container">
  
  <div class="placeholder sprite1">
    <app-sprite [card]="decks[0].cards[10]"></app-sprite>
  </div>
  <div class="placeholder sprite2">
    <app-sprite [card]="decks[3].backSide"></app-sprite>
  </div>
  <div class="placeholder sprite3">
    <app-sprite [card]="decks[3].deckPicture"></app-sprite>
  </div>

  <app-resizable-frame left="200" top="400" width="150" height="250">
    <app-sprite [card]="decks[3].cards[12]"></app-sprite>
  </app-resizable-frame>

</div>