<div *ngIf="!!decks" class="container">

  <div class="placeholder sprite1">
    <app-sprite [card]="decks[0].cards[10]"></app-sprite>
  </div>
  <div class="placeholder sprite2">
    <app-sprite [card]="decks[3].backSide"></app-sprite>
  </div>
  <div class="placeholder sprite3">
    <app-sprite [card]="decks[3].deckPicture"></app-sprite>
  </div>

  <app-resizable-frame left="300" top="300" width="200" height="300">
    <app-sprite [card]="decks[3].cards[12]"></app-sprite>
  </app-resizable-frame>

</div>