<div *ngIf="!!decks" class="container">

  <div class="placeholder sprite1">
    <app-sprite [card]="decks[0].cards[10]"></app-sprite>
  </div>
  <div class="placeholder sprite2">
    <app-sprite [card]="decks[3].backSide"></app-sprite>
  </div>
  <div class="placeholder sprite3">
    <app-sprite [card]="decks[3].deckPicture"></app-sprite>
  </div>

  <app-resizable-frame [position]="{location: {left: 400,top: 250,rotation: 0}, size: {width: 150,height: 200}}">
    <app-sprite [card]="decks[3].cards[12]"></app-sprite>
  </app-resizable-frame>

  <app-resizable-frame [position]="cardHolder.position">
    <app-sprite [card]="getCard(cardHolder) | async"></app-sprite>
  </app-resizable-frame>

</div>