.container {
background-color: lightpink;
position: relative;
width: 100%;
height: 100vh;
}

.placeholder {
  background-color: yellow;
  position: absolute;
  width: 100px;
  height: 150px;
}

.sprite1{
  left: 50px;
  top: 50px;
}

.sprite2{
  left: 200px;
  top: 50px;
}

.sprite3{
  left: 350px;
  top: 50px;
}