.main{
  position: relative;
  height: 100%;
  background-color: lightskyblue;
}

.image{  
}

.image-box{
    position: absolute;
    display: inline-block;
    box-sizing: content-box;
    border: 3px solid lightgoldenrodyellow;    
}

.image-box:hover{
    border: 3px solid greenyellow;
}