<div id="main" #main class="main"  tabindex="0"
    (drop)="onDrop($event)" 
    (dragover)="onDdragover($event)" 
    (click)="onClick($event)" 
    (keydown)="onKeydown($event)"
    (blur)="onBlur($event)">

  Main

  <ul style="list-style-type: none;">
    <li *ngFor="let cardHolder of cardHolders | async; let i = index">
      <!--<app-resizable-frame [position]="cardHolder.position">-->
      <app-resizable-frame 
          [position$]="getCardHolderPosition(cardHolder.$key)" 
          (onDelete)="onDelete(cardHolder.$key)"
          [selected]="isSelected(cardHolder.$key)">
        <app-sprite [card]="getCard(cardHolder) | async" (mousedown)="onSelect(cardHolder.$key)"></app-sprite>
      </app-resizable-frame>
    </li>
  </ul>
</div>