.container{
  position: absolute;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.rotate{
  text-align: center;
  flex: 0 0 auto;
}

.resize{
  text-align: right;
  flex: 0 0 auto;
}

.content{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: pink;
  position: relative;
}

.invisible{
  visibility:hidden;
}